<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.purdue.cs408.meadle" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_shadow"
        android:label="@string/app_name"
        android:theme="@style/MeadleTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NumberPadActivity"
            android:label="@string/title_activity_number_pad"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.purdue.cs408.meadle.MainActivity" />
        </activity>
        <activity
            android:name=".VoteActivity"
            android:label="@string/title_activity_vote" >
        </activity>
    </application>

</manifest>
